// colors
$color-primary: #ecad00;
$color-primary-hover:#ffcf4c;
$color-secondary:#172736;
$color-tertiary:#605d79;
$color-bg-dark: #131220;
$color-bg-footer-icons:#111111;
$color-black:#000000;
$color-white: #ffffff;
$color-fade-1: linear-gradient(180deg, #54496B 0%, #040A0E 100%);

// fonts
$font-title:'Cinzel', serif;
$font-text:'Alegreya', serif;