@use '/src/assets/styles/partials/variables.scss' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');

body {
  background-color: $color-black;
  color: $color-white;
  font-family: $font-text;
}

h1, h2, h3, h4, h5, h6, button{
  font-family: $font-title;
  font-weight: bold;
}

button{
  background-color: $color-primary;
  color: $color-black;
  border-radius: 5px;
  border: 0;
  padding: 15px 70px;
  outline-offset: 4px;
  outline: 1px solid $color-primary-hover;
  transition: all 0.4s;
  box-shadow: 2px 5px 6px 4px rgba(0,0,0,0.7);

  &:active{
      transform: scale(1.01);
  }
  &:hover{
      background-color: $color-primary-hover;
      border-radius: 0;
      outline-offset: 8px;
      outline: 1px solid $color-white;
  }

}

img{
  width: 100%;
}

section{
  padding-top: 70px;
  padding-bottom: 70px;
}